
body{
    background-color: #373a40;
}
.container{
    background-color: #373a40;
}
table{
    
    width: 50%;
    margin-left: 7px;
   
}
input{
    background-color: #cbbcb1;
    height: 70px;
    width: 410px;
    margin-bottom: 20px;
    border: 2px;
    border-radius: 10px;
    font-size: 30px;
}
button{
    height: 80px;
    width: 100px;
    background: #686d76;
    color: cornsilk;
    border-radius: 5px;
    font-size: 35px;
    
}
button:hover{
    background: #ee6f57;
}
